<div class="row px-5 py-2" style="width: 100%!important;">
    <!--here starts the SIF file upload-->
    <div class="col-12 pt-2">
        <div>
            <h3 class="font__lightWeight">
                SIF File Upload
            </h3>
            <input type="file" file-model="myFile"/>
            <button class="btn btn-primary" ng-click="uploadFile()">{{SubmitButtonText}}</button>
        </div>

        <div class="alert alert-primary pt-3 mt-2" role="alert" ng-if="ErrorMessage">
            {{ErrorMessage}}
        </div>
        <a ng-if="ErrorReport && ErrorMessage"
           href="/../../../Ali/Documents/yap-wps/src/main/resources/errorfiles/{{ErrorReport}}.txt"
           class="btn btn-primary"
           download>
            Download error report
        </a>
        <hr>
    </div>
    <!--here starts the DRC file upload-->
    <div class="col-12">
        <div>
            <h3 class="font__lightWeight">
                DCR File Upload
            </h3>
            <input type="file" file-model="myFile"/>
            <button class="btn btn-primary" ng-click="DCRFileUpload()">{{DCRButtonText}}</button>
        </div>

        <div class="alert alert-primary pt-3 mt-2" role="alert" ng-if="DCRfileMessage">
            {{DCRfileMessage}}
        </div>
        <a ng-if="DCR_ErrorReport && DCRfileMessage"
           href="/../../../Ali/Documents/yap-wps/src/main/resources/errorfiles/{{DCR_ErrorReport}}.txt"
           class="btn btn-primary"
           download>
            Download error report
        </a>
        <hr>
    </div>
    <!--here starts the PRC file upload-->
    <div class="col-12">
        <div>
            <h3 class="font__lightWeight">
                PRC File Upload
            </h3>
            <input type="file" file-model="myFile"/>
            <button class="btn btn-primary" ng-click="PRCFileUpload()">{{PRCButtonText}}</button>
        </div>

        <div class="alert alert-primary pt-3 mt-2" role="alert" ng-if="PRCfileMessage">
            {{PRCfileMessage}}
        </div>
        <a ng-if="PRCfileMessage && PRC_ErrorReport"

           href="../../../../../Documents/yap-wps/src/main/resources/errorfiles/{{PRC_ErrorReport}}.txt"
           class="btn btn-primary"
           download>
            Download error report
        </a>
        <hr>
    </div>
    <!--here starts the RRR file upload-->
    <div class="col-12">
        <div>
            <h3 class="font__lightWeight">
                RRR File Upload
            </h3>
            <input type="file" file-model="myFile"/>
            <button class="btn btn-primary" ng-click="RRRFileUpload()">{{RRRButtonText}}</button>
        </div>

        <div class="alert alert-primary pt-3 mt-2" role="alert" ng-if="RRRfileMessage">
            {{RRRfileMessage}}
        </div>
        <a ng-if="RRRfileMessage && RRR_ErrorReport"

           href="../../../../../Documents/yap-wps/src/main/resources/errorfiles/{{RRR_ErrorReport}}.txt"
           class="btn btn-primary"
           download>
            Download error report
        </a>
        <hr>
    </div>
    <!--here starts the DIFF file upload-->
    <div class="col-12">
        <div>
            <h3 class="font__lightWeight">
                DIFF File Upload
            </h3>
            <input type="file" file-model="myFile"/>
            <button class="btn btn-primary" ng-click="DIFF__fileUpload()">{{DIFFButtonText}}</button>
        </div>

        <div class="alert alert-primary pt-3 mt-2" role="alert" ng-if="DIFFfileMessage">
            {{DIFFfileMessage}}
        </div>
        <a ng-if="DIFFfileMessage && DIFF_ErrorReport"

           href="../../../../../Documents/yap-wps/src/main/resources/errorfiles/{{Diff_ErrorReport}}.txt"
           class="btn btn-primary"
           download>
            Download error report
        </a>
        <hr>
    </div>
    <!--here starts the RFR file-->
    <div class="col-12">
        <div>
            <h3 class="font__lightWeight">
                RFR File Upload
            </h3>
            <input type="file" file-model="myFile"/>
            <button class="btn btn-primary" ng-click="RFR__fileUpload()">{{RFRButtonText}}</button>
        </div>

        <div class="alert alert-primary pt-3 mt-2" role="alert" ng-if="RFRfileMessage">
            {{RFRfileMessage}}
        </div>
        <a ng-if="RFRfileMessage && RFR_ErrorReport"
           href="../../../../../Documents/yap-wps/src/main/resources/errorfiles/{{RFR_ErrorReport}}.txt"
           class="btn btn-primary"
           download>
            Download error report
        </a>
        <hr>
    </div>
    <!--here starts the RFA file-->
    <div class="col-12">
        <div>
            <h3 class="font__lightWeight">
                RFA File Upload
            </h3>
            <input type="file" file-model="myFile"/>
            <button class="btn btn-primary" ng-click="RFA__fileUpload()">{{RFAButtonText}}</button>
        </div>
        <div class="alert alert-primary pt-3 mt-2" role="alert" ng-if="RFAfileMessage">
            {{RFAfileMessage}}
        </div>
        <a ng-if="RFAfileMessage && RFA_ErrorReport"

           href="../../../../../Documents/yap-wps/src/main/resources/errorfiles/{{RFA_ErrorReport}}.txt"
           class="btn btn-primary"
           download>
            Download error report
        </a>
        <hr>
    </div>
</div>





