<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to WPS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link defer rel="stylesheet" href="app.css">
    <link defer rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link defer rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link defer rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/custom.css">
    <link defer rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/header.css">
    <link defer rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/footer.css">
    <link defer rel="stylesheet" href="bower_components/html5-boilerplate/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
</head>
<!--href="/../../../Ali/Documents/yap-wps/src/main/resources/errorfiles/{{ErrorReport}}.txt"-->

<body ng-cloak ng-controller="IndexController as me">
<header class="header__settings">
    <h1 class="pt-2 text__center font__lightWeight" style="width: 100%">
        Welcome to WPS portal
    </h1>
</header>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--      <a class="navbar-brand" style="color: darkslategrey ">WPS module</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>-->

        <div class="row collapse navbar-collapse" id="navbarSupportedContent">
            <button type="button" class="col-sm-12 col-lg-3 col-md-offset-* btn btn-outline-primary mt-1"
                    ng-click="me.employee()">For
                Companies
            </button>
            <button type="button" class="col-sm-12 col-lg-3 btn btn-outline-primary mt-1" ng-click="me.agents()">For
                Agents
            </button>
            <button type="button" class="col-sm-12 col-lg-3 btn btn-outline-primary mt-1" ng-click="me.FileUpload()">
                File
                uploading
            </button>
            <button type="button" class="col-sm-12 col-lg-3 btn btn-outline-primary mt-1" ng-click="me.CreateFiles()">
                Create files
            </button>
        </div>
    </nav>
</div>
<div ng-view>

</div>
<!--<footer class="footer">-->
<!--<div class="container">-->
<!--<span class="text-muted" style="color: white">Place sticky footer content here.</span>-->
<!--</div>-->
<!--</footer>-->
<!--<footer class="footer__settings">-->
<!--<p class="text__center pt-4">Made with-->
<!--<i class="fas fa-heart" style="color: darkred"></i>-->
<!--in Digitify-->
<!--</p>-->
<!--</footer>-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<!--*************-->
<!--Controllers-->
<!--************-->
<script defer src="app.js"></script>
<script defer src="index-controller.js"></script>
<script defer src="components/agents/agents-controller.js"></script>
<script defer src="components/Employee/employee-controller.js"></script>
<script defer src="components/file-uploads/file-upload-controller.js"></script>
<script defer src="components/create-files/create-files-controller.js"></script>

<!--*************-->
<!--Controllers End here-->
<!--************-->


<script defer src="components/version/version-directive.js"></script>
<script defer src="components/version/interpolate-filter.js"></script>
<script defer src="bower_components/html5-boilerplate/dist/third_party_libs/popper.min.js"
        crossorigin="anonymous"></script>
<!--<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>-->
<script defer src="bower_components/html5-boilerplate/dist/third_party_libs/bootstrap.min.js"
        crossorigin="anonymous"></script>
<script async src="bower_components/html5-boilerplate/dist/third_party_libs/jquery.min.js"></script>
</body>
</html>
