<div class="container-fluid">
    <div class="row">
        <div class="col-12 text__center px-5 py-5" ng-hide="CompleteAgentData">
            <h2 class="font__lightWeight text__center">
                Please enter your agent username
            </h2>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="agent" placeholder="For example Microsoft">
                </div>
                <button class="btn btn-primary mb-4" ng-click="$ctrl.GetAgentData()"> submit</button>
            </form>
        </div>

        <!--here we give access to different APIs after the upper API has already got the required params for the lower APIS-->
        <div class="col-12 text__center px-5 py-5" ng-if="CompleteAgentData">
            <h3 class="font__lightWeight text__center pb-3">
                Welcome {{AgentName}}. Select any of the following
            </h3>
            <button type="button"
                    class="btn btn-outline-primary btn-block" ng-click="$ctrl.get_pafFiles()">
                View PAF files
            </button>

        </div>
        <!--table for PAF file-->
        <div class="col-12 text__center px-5 py-5">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr ng-show="ViewPafFiles">
                    <th scope="col">Employer ID</th>
                    <th scope="col">Employer Reference</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Routing Code</th>
                    <th scope="col">Record Type</th>
                    <th scope="col">Total Salary</th>
                    <th scope="col">More details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="y in ViewPafFiles">
                    <td>{{y.employerId}}</td>
                    <td>{{y.employerReference}}</td>
                    <td>{{y.fileName}}</td>
                    <td>{{y.routingCodeOfBoe}}</td>
                    <td>{{y.recordType}}</td>
                    <td>{{y.totalSalary}}</td>
                    <td>
                        <button ng-show="ViewPafFiles" type="button" class="btn btn-outline-primary btn-block"
                                ng-click="$ctrl.get_pafFileDetails()">
                            PAF File Details
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--table for PAF file details-->
        <div ng-if="PafFileDetails" class="col-12 text__center px-5 py-5">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr ng-show="PafFileDetails">
                    <th scope="col">Days in Period</th>
                    <th scope="col">Days on Leave</th>
                    <th scope="col">Employee account</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Filename</th>
                    <th scope="col">Fixed pay</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="y in PafFileDetails">
                    <td>{{y.daysInPeriod}}</td>
                    <td>{{y.daysOnLeave}}</td>
                    <td>{{y.employeeAccountNo}}</td>
                    <td>{{y.employeeId}}</td>
                    <td>{{y.fileName}}</td>
                    <td>{{y.fixedPay}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
