<div class="container px-5 py-5">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>WPS file ID </label>
                <input class="form-control" ng-model="WPSfileID">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>File Creation Date</label>
                <input class="form-control" ng-model="DIFF_FileCreationDate">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>File Creation Time</label>
                <input class="form-control" ng-model="DIFF_FileCreationTime">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>DIR Count</label>
                <input class="form-control" ng-model="DIFF_DIRcount">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Total Disbursed</label>
                <input class="form-control" ng-model="DIFF_TotalDisbursed">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Cash dispensed</label>
                <input class="form-control" ng-model="DIFF_CashDispensed">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Remitted Out</label>
                <input class="form-control" ng-model="DIFF_RemittedOut">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Agent Disbursement Reference</label>
                <input class="form-control" ng-model="DIFF_AgentDisbursementRef">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Future Use</label>
                <input class="form-control" ng-model="DIFF_FutureUse">
            </div>
        </div>
        <!--DIR in DIFF inputs start here-->
        <div class="col-sm">
            <div class="form-group">
                <label>WPS File ID for PIF</label>
                <input class="form-control" ng-model="DIFF_FileID">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Employee Unique ID</label>
                <input class="form-control" ng-model="DIFF_EmployeeUniqueID">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Employee Account With Agent</label>
                <input class="form-control" ng-model="DIFF_EmployeeAccount">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Transaction Date</label>
                <input class="form-control" ng-model="DIFF_TransactionDate">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Withdrawl Amount</label>
                <input class="form-control" ng-model="DIFF_WithdrawlAmount">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Remit Amount</label>
                <input class="form-control" ng-model="DIFF_RemitAmount">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Remit To</label>
                <input class="form-control" ng-model="DIFF_RemitTo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Remit Reference</label>
                <input class="form-control" ng-model="DIFF_RemitReference">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Agent Transaction Reference</label>
                <input class="form-control" ng-model="DIFF_AgentTransactionRef">
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" ng-click="$ctrl.CreateDIFF()"
                class="btn btn-primary btn-lg btn-block">Create File
        </button>
    </div>
</div>

<!--here ths input fields end-->
