<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-2 pb-2" ng-click="$ctrl.CreateSif()"
        >
            <button type="button" class="btn btn-primary btn-lg btn-block">
                Create SIF File
            </button>
        </div>
        <div class="col-12 pt-2 pb-2" ng-click="$ctrl.redirect_to_PRC()">
            <button type="button" class="btn btn-primary btn-lg btn-block">
                Create PRC File
            </button>
        </div>
        <div class="col-12 pt-2 pb-2" ng-click="$ctrl.redirect_to_DIFF()">
            <button type="button" class="btn btn-primary btn-lg btn-block">
                Create DIFF File
            </button>
        </div>
    </div>
</div>