<div class="container px-5 py-5">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="exampleInputPassword1">Employee account number</label>
                <input class="form-control" ng-model="EmployeeAccountNumber">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Pay Start Date</label>
                <input class="form-control" ng-model="PayStartDate">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Pay End Date</label>
                <input class="form-control" ng-model="PayEndDate">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Days In Period</label>
                <input class="form-control" ng-model="DaysInPeriod">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Income Fixed Component</label>
                <input class="form-control" ng-model="FixedPay">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Income Variable Component</label>
                <input class="form-control" ng-model="VariablePay">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Days on Leave for period</label>
                <input class="form-control" ng-model="DaysOnLeave">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Employer ID</label>
                <input class="form-control" ng-model="EmployerID">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>File Creation Date</label>
                <input class="form-control" ng-model="FileCreationDate">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>File Creation Time</label>
                <input class="form-control" ng-model="FileCreationTime">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Salary Month</label>
                <input class="form-control" ng-model="SalaryMonth">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>EDR Count</label>
                <input class="form-control" ng-model="EdrCount">
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Total Salary</label>
                <input class="form-control" ng-model="TotalSalary">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Routing Code BOE</label>
                <input class="form-control" ng-model="RoutingCodeBOE">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Payment Currency</label>
                <input class="form-control" ng-model="PaymentCurrency">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Employer Reference</label>
                <input class="form-control" ng-model="EmployerReference">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Employee ID</label>
                <input type="text" ng-model="EmployeeID" class="form-control">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Routing Code of Employer</label>
                <input type="text" ng-model="RoutingCode_EDR" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" ng-click="$ctrl.SubmitData()"
                class="btn btn-primary btn-lg btn-block">Create File
        </button>
    </div>
</div>