<div class="container px-5 py-5">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>PIF File Name</label>
                <input class="form-control" ng-model="PRC_filename">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Total Fixed Pay</label>
                <input class="form-control" ng-model="PRC_FixedPay">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Total Variable Pay</label>
                <input class="form-control" ng-model="PRC_VariablePay">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Total Pay</label>
                <input class="form-control" ng-model="PRC_TotalPay">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Number Of Records in PIF</label>
                <input class="form-control" ng-model="PRC_NumberOfRecords">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Future Use</label>
                <input class="form-control" ng-model="PRC_FutureUseOne">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Future Use Two</label>
                <input class="form-control" ng-model="PRC_FutureUseTwo">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Future Use Three</label>
                <input class="form-control" ng-model="PRC_FutureUseThree">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Future Use EWPMS</label>
                <input class="form-control" ng-model="PRC_FutureUseEWMPMS">
            </div>
        </div>
        <!--RCR inputs start here-->
        <div class="col-sm">
            <div class="form-group">
                <label>Agent Reference</label>
                <input class="form-control" ng-model="RCR_AgentReference">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Total Fixed Pay</label>
                <input class="form-control" ng-model="RCR_TotalFixedPay">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Total Variable Pay</label>
                <input class="form-control" ng-model="RCR_TotalVariablePay">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Total Pay</label>
                <input class="form-control" ng-model="RCR_TotalPay">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>RDR Count</label>
                <input class="form-control" ng-model="RCR_RDRcount">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>File Creation Date</label>
                <input class="form-control" ng-model="RCR_FileCreationDate">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>File Creation Time</label>
                <input class="form-control" ng-model="RCR_FileCreationTime">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Future Use One</label>
                <input class="form-control" ng-model="RCR_FutureUseOne">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Future Use EWPMS </label>
                <input class="form-control" ng-model="RCR_FutureUseEWPMS">
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" ng-click="$ctrl.CreatePRC()"
                class="btn btn-primary btn-lg btn-block">Create File
        </button>
    </div>
</div>

<!--here ths input fields end-->
