<!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>-->
<!--<script>tinymce.init({ selector:'textarea' });</script>-->

<div class="container-fluid">
    <div class="row" ng-controller="EmployeeController as me">
        <div class="col-12 text__center px-5 py-5">
            <h1 class="display-4 text__center pb-3">
                Select any of the following
            </h1>
            <button type="button"
                    class="btn btn-outline-primary btn-block" ng-click="me.redirect_to_employeeList()">
                View Employees
            </button>
            <button type="button" class="btn btn-outline-primary btn-block"
                    ng-click="me.redirect_to_getSipFiles()">
                File names
            </button>
        </div>
    </div>
</div>


<!--<h1>hi</h1>-->
<!--<table class="table">-->
    <!--<thead>-->
    <!--<tr ng-show="TestData">-->
        <!--<th scope="col">Employee name</th>-->
        <!--<th scope="col">Employee number</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="x in TestData">-->
        <!--<td contenteditable>-->
            <!--<input type="text" value="{{x.name}}">-->
        <!--</td>-->
        <!--<td contenteditable>{{x.degree}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<!--<button class="btn btn-primary" ng-click="TableData()">submit</button>-->


