<div class="container-fluid" ng-controller="EmployeeController as me">
    <div class="row">
        <div class="col-12 text__center px-5 py-5">
            <h3 class="font__lightWeight text__center">
                Enter the name of the company to get their SIF files.
            </h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="company" placeholder="For example Microsoft">
                </div>
                <button class="btn btn-primary mb-4" ng-click="me.getSipFiles_forCompany()"> submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text__center px-5 py-5">
            <table class="table table-bordered" id="myTable">
                <thead class="thead-dark">
                <h3 ng-show="UserData" class="font__lightWeight text__center pb-2">This is the list of files
                    associated with this
                    company</h3>

                <tr ng-show="UserData">
                    <th scope="col">File name</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Reference</th>
                    <th scope="col">Record Type</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Employee reference</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in UserData">
                    <td id="filename">
                        <a href="" ng-click="me.getFile_details()" class="testing">
                            {{x.fileName}}
                        </a>
                    </td>
                    <td>{{x.employerId}}</td>
                    <td>{{x.employerReference}}</td>
                    <td>{{x.recordType}}</td>
                    <td>{{x.paymentCurrency}}</td>
                    <td>{{x.employerReference}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Now we are getting details after the user clicks that file-->
    <div class="row">
        <div class="col-12 text__center px-5 py-5">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <h3 ng-repeat="z in FileDetails"
                    ng-show="FileDetails" class="font__lightWeight text__center pb-2">
                    Details associated with filename: <span style="color: darkred">{{z.fileName}}</span>
                </h3>
                <tr ng-show="FileDetails">
                    <th scope="col">Days In Period</th>
                    <th scope="col">Days on Leave</th>
                    <th scope="col">Account no</th>
                    <th scope="col">Employer ID</th>
                    <th scope="col">File name</th>
                    <th scope="col">Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="y in FileDetails">
                    <td>{{y.daysInPeriod}}</td>
                    <td>{{y.daysOnLeave}}</td>
                    <td>{{y.employeeAccountNo}}</td>
                    <td>{{y.employeeId}}</td>
                    <td>{{y.fileName}}</td>
                    <td>{{y.fixedPay}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


