<div class="row" ng-controller="EmployeeController as me">
    <div class="col-12 text__center px-5 py-5">
        <h2 class="font__lightWeight text__center pb-3">
            Enter the name of the company to get their employees.
        </h2>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="company" placeholder="For example Microsoft">
            </div>
            <button class="btn btn-primary mb-4" ng-click="me.get_employee_APICall()"> submit</button>
            <table class="table" >
                <thead>
                <tr ng-show="UserData">
                    <th scope="col">Employee name</th>
                    <th scope="col">Employee number</th>
                    <th scope="col"> Job title</th>
                    <th scope="col">Pay</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in Use
                rData">
                    <td>{{x.employeeName}}</td>
                    <td>{{x.employeeNo}}</td>
                    <td>{{x.jobTitle}}</td>
                    <td>{{x.variablePay}}</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>